/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.hero-img,
.hero-img2 {
    width: 100vw;
}

.hero-img2 {
    display: none;
}

/* Il problema -> la soluzione */
.problema .row,
.problema.scrolled .green  {
    border-radius: .7rem;
    background-color: var(--light);
}

.problema.scrolled .row {
    background-color: var(--infofactory);
}

.problema h3 {
    text-transform: uppercase;
}

.problema .p-big,
.problema.scrolled .green .p-big {
    color: var(--secondary);
    font-weight: 600;
}

.problema.scrolled .green h3,
.problema.scrolled .green .p-medium {
    color: var(--secondary);
}

.problema .p-medium,
.problema.scrolled .p-medium {
    font-weight: 300;
}

.problema b {
    font-weight: 600!important;
}

.problema .green {
    background-color: var(--infofactory);
    border-radius: .7rem;
}

.problema .green h3,
.problema .green .p-big,
.problema .green .p-medium,
.problema.scrolled h3,
.problema.scrolled .p-big,
.problema.scrolled .p-medium{
    color: var(--white);
}

/* Funzionalità techniche */
.funzionalità .row {
    background-color: var(--light);
    border-radius: .7rem;
    border: 1px solid #E8E8E8;
}

.funzionalità .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    padding: 1rem;
    background-color: transparent;
}

.funzionalità img {
    height: 4.5rem;
}

@media all and (max-width: 1200px) {

    .funzionalità h2 {
        font-size: 3rem;
    }
}

/* Architettura generale*/
.architettura {
    text-align: center;
}

.architettura .slide-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	margin-left: 0;
	width: calc(90% - 2rem);
}

.architettura .slide-container .slide {
	width: 100%;
	margin-left: auto;
	position: relative;
	height: auto;
	grid-row: 1;
	grid-column: 1;
	transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
}

.architettura .image {
	margin: 5rem 0;
	grid-row: 1 / span 2;
	grid-column: 2 / span 2;
	height: 0;
	border-radius: 50%;
}


.architettura img {
	width: 100%;
    height: 100%;
	transition: opacity .3s ease-in;
}

/* Case studies */
.vw.case-studies {
    background-color: var(--light);
}

.swiper {
    width: 100%;
    height: 100%;
    /*box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);*/
}

.swiper-slide {
    background: #fff;
    height: 100%;
    border-radius: .7rem;
    padding: 3rem;
}

.swiper-slide .loghi {
    display: flex;
    margin-bottom: 3rem;
}

.swiper-slide .loghi img {
    min-height: 2rem;
    max-height: 3rem;
    margin-right: 1.5rem;
}

.swiper-slide h2 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.swiper-slide h2 span {
    color: var(--primary);
}

.swiper-slide h4 {
    font-weight: 500;
    color: #3C4136;
}

.swiper-slide .p-big {
    color: var(--grey);
    font-weight: 300;
}

.swiper-slide .p-big b {
    color: var(--secondary);   
}

.swiper-slide a {
    color: var(--primary); 
    font-size: 1.25rem;  
    font-weight: 600;
    text-decoration: 0;
    display: flex;
    align-items: center;
}

.swiper-slide a svg {
    fill: var(--primary); 
    margin-left: .5rem;
}

.swiper-slide a:hover {
    color: var(--infofactory); 
}

.swiper-slide a:hover svg {
    fill: var(--infofactory); 
}

.swiper-pagination {
    position: relative!important;
    bottom: unset!important;
    top: unset!important;
}

.swiper-pagination-bullet {
    width: 2.5rem!important; 
    height: .4rem!important;
    border-radius: .5rem!important;
    opacity: .1!important;
}

.swiper-pagination-bullet-active {
    background: var(--primary)!important;
    opacity: 1!important;
}

@media all and (max-width: 992px) {

    .hero h1, 
    .hero .p-big,
    .case-studies .p-medium {
      width: 100%!important;
    }

    .hero .p-big {
      display: none;
    }

    .hero-img {
        display: none;
    }

    .hero-img2 {
        display: block;
    }

}

@media all and (max-width: 768px) {

    .hero h1 {
      font-size: 4rem;
      text-align: left;
    }

    .funzionalità h2 {
        margin-bottom: 1.5rem;
    }

}


