/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.hero-img,
.hero-img2 {
    width: 100vw;
}

.hero-img2 {
    display: none;
}

/* Intro - 3 cards */
.intro {
    text-align: center;
}
.intro .title {
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* Il problema -> la soluzione */
.problema .row,
.problema.scrolled .green  {
  
    background-color: var(--white);
}

.problema .col-lg-6.right,
.problema .col-lg-6.green  {
    border-radius: .7rem;
}

.problema.scrolled .col-lg-6.right {
    background-color: var(--infofactory);
}

.problema h3 {
    text-transform: uppercase;
    color: var(--infofactory);
}

.problema .p-big,
.problema.scrolled .green .p-big {
    color: var(--secondary);
    font-weight: 600;
}

.problema.scrolled .green h3,
.problema.scrolled .green .p-medium {
    color: var(--secondary);
}

.problema .p-medium,
.problema.scrolled .p-medium {
    font-weight: 300;
}

.problema b {
    font-weight: 600!important;
    color: var(--infofactory);
}

.problema .green {
    background-color: var(--infofactory);
    
}

.problema.scrolled .green b {
    color: var(--infofactory);
}

.problema .green h3,
.problema .green .p-big,
.problema .green .p-medium,
.problema .green b,
.problema.scrolled h3,
.problema.scrolled .p-big,
.problema.scrolled .p-medium,
.problema.scrolled .right b {
    color: var(--white);
}

/* Funzionalità techniche */
.funzionalità .row {
    background-color: var(--light);
    border-radius: .7rem;
    border: 1px solid #E8E8E8;
}

.funzionalità .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    padding: 1rem;
    background-color: transparent;
}

.funzionalità img {
    height: 4.5rem;
}

/* Marketing */
.marketing {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.60) 100%), url('/static/img/marketing-bg.png');
    background-position: center;
    background-size: cover;
    background-color: lightgray;
}

.marketing .container {
    border-radius: .7rem;
    background: linear-gradient(97deg, #FB661D -0.02%, rgba(215, 83, 16, 0.85) -0.02%, rgba(191, 67, 6, 0.85) 100%);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.marketing h2 {
    color: var(--white);
}

.marketing .p-medium {
    color: var(--white);
}

.marketing .col-12 {
    padding: 1rem 2rem;
}

/* Esempi */
.esempi {
	display: flex;
    flex-direction: column;
	justify-content: center;
	background-color: var(--black);
    color:var(--white);
}

.esempi .col-6 {
    display: flex;
}
.esempi h2 {
    color: var(--white);
}

.esempi .slide-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	margin-left: 0;
    align-items: center;
}

.esempi .slide-container .slide {
	grid-row: 1;
	grid-column: 1;
	transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
}

.esempi img {
	display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
	transition: opacity .3s ease-in;
}

.esempi h4 {
    color: var(--light);
    letter-spacing: .03rem;
}

.esempi p {
    color: #BCBCBC;;
}

.slick-dots {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-direction: column;
    padding-left: 0;
    width: 100%;
}

.slick-dots li {
	list-style: none;
    width: 100%;
}

.slick-nav {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    margin-right: 3rem;
    background-color: #232323;
    border-radius: 0.75rem;
    cursor: pointer;
	text-transform: none;
	text-decoration: none;
	transition: all .75s ease-in-out;
	-webkit-transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
}

.slick-nav .drop {
    position: relative;
    margin-right: 1rem;
}

.drop .p-medium {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #232323;
}

.slick-dots .slick-slide[style="opacity: 1;"] {
	transition: all .75s ease-in-out;
	-webkit-transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
}

.slick-dots .slick-slide[style="opacity: 0;"],
.slick-dots .slick-slide.not-clicked  {
	opacity: .25 !important;
}

.slick-dots .slick-slide[style="opacity: 0;"] h4,
.slick-dots .slick-slide.not-clicked h4 {
	font-weight: 500;
    font-size: 1.4rem;
}

.slick-dots .slick-slide[style="opacity: 0;"] p,
.slick-dots .slick-slide.not-clicked p {
	display: none;
}

.slick-dots .slick-slide[style="opacity: 0;"] .slick-nav,
.slick-dots .slick-slide.not-clicked .slick-nav {
    background-color: transparent;
    border: 1px solid var(--white);
}

.slick-dots .slick-slide[style="opacity: 0;"] svg path,
.slick-dots .slick-slide.not-clicked svg path {
    fill: none;
    stroke: var(--white);
}

.slick-dots .slick-slide[style="opacity: 0;"] .drop .p-medium,
.slick-dots .slick-slide.not-clicked .drop .p-medium  {
    color: var(--white);
    display: block;
}

/* Architettura generale*/
.architettura {
    text-align: center;
}

.architettura .slide-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	margin-left: 0;
	width: calc(90% - 2rem);
}

.architettura .slide-container .slide {
	width: 100%;
	margin-left: auto;
	position: relative;
	height: auto;
	grid-row: 1;
	grid-column: 1;
	transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
}

.architettura .image {
	margin: 5rem 0;
	grid-row: 1 / span 2;
	grid-column: 2 / span 2;
	height: 0;
	border-radius: 50%;
}


.architettura img {
	width: 100%;
    height: 100%;
	transition: opacity .3s ease-in;
}

.architettura .swiper.mySwiperMobile:hover {
   cursor: pointer;
}

.architettura .swiper.mySwiperMobile {
    display: none;
}

.architettura .swiper.mySwiperMobile .swiper-slide {
    padding: 0;
}

.architettura .swiper.mySwiperMobile img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Case studies */
.case-studies {
    background-color: var(--light);
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
    visibility: visible;
}

.swiper-slide {
    background: #fff;
    height: 100%;
    border-radius: .7rem;
    padding: 3rem;
    /*box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);*/
}

.swiper-slide .loghi {
    display: flex;
    margin-bottom: 3rem;
}

.swiper-slide .loghi img {
    min-height: 2rem;
    max-height: 3rem;
    margin-right: 1.5rem;
}

.swiper-slide h2 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.swiper-slide h2 span {
    color: var(--primary);
}

.swiper-slide h4 {
    font-weight: 500;
    color: #3C4136;
}

.swiper-slide .p-big {
    color: var(--grey);
    font-weight: 300;
}

.swiper-slide .p-big b {
    color: var(--secondary);   
}

.swiper-slide a {
    color: var(--primary); 
    font-size: 1.25rem;  
    font-weight: 600;
    text-decoration: 0;
    display: flex;
    align-items: center;
}

.swiper-slide a svg {
    fill: var(--primary); 
    margin-left: .5rem;
}

.swiper-slide a:hover {
    color: var(--infofactory); 
}

.swiper-slide a:hover svg {
    fill: var(--infofactory); 
}

.swiper-pagination {
    position: relative!important;
    bottom: unset!important;
    top: unset!important;
}

.swiper-pagination-bullet {
    width: 2.5rem!important; 
    height: .4rem!important;
    border-radius: .5rem!important;
    opacity: .1!important;
}

.swiper-pagination-bullet-active {
    background: var(--primary)!important;
    opacity: 1!important;
}

.swiper-button-next,
.swiper-button-prev {
    visibility: hidden;
    color: var(--grey)!important;
}

@media all and (min-width: 1200px) {

    .marketing h2 {
        width: 75%;
        text-align: center;
    }

}

@media all and (max-width: 1200px) {

    .funzionalità h2 {
        font-size: 3rem;
    }

    .funzionalità.padding {
        padding-top: 0;
    }

    .slick-nav {
        margin-right: 0;
    }

    .intro.padding {
        padding-bottom: 5rem!important;
    }
}

@media all and (min-width: 992px) {

    .marketing h2 {
        width: 90%;
        text-align: center;
    }

}

@media all and (max-width: 992px) {

    .hero h1, 
    .hero .p-big,
    .case-studies .p-medium {
      width: 100%!important;
    }

    .hero-img {
        display: none;
    }

    .hero-img2 {
        display: block;
    }

    .architettura .swiper.mySwiperMobile {
        display: block;
    }

    .architettura .slide-container {
        display: none;
    }

    .intro.padding {
        padding-top: 3rem!important;
        padding-bottom: 2rem!important;
    }

}

@media all and (max-width: 768px) {

    .hero h1 {
      font-size: 3.8rem;
    }

    .hero .p-big {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .funzionalità h2 {
        margin-bottom: 1.5rem;
    }

}

@media all and (max-width: 576px) {

    .funzionalità .row,
    .marketing .container {
        border-radius: 0rem;
        border: none;
    }

    .marketing .container {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .marketing {
        padding: 0;
    }

    .marketing h2 {
        font-size: 3.3rem;
    }

    .swiper-slide h2 {
        font-size: 3.2rem
    }

    .swiper-slide h4 {
        font-size: 1.4rem
    }

    .swiper-slide .p-big {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .slick-dots .slick-slide.clicked .slick-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .slick-dots .slick-slide.clicked .slick-nav .drop {
        margin-bottom: 1rem;
    }

}

