:root {

    --primary: #A2CA66;
    --secondary: #4B4A48;
    --black: #171717;
    --white: white;
    --light: #F8F9FA;
    --infofactory: #8EC254;
    --grey: #848484;
    --marketing: #fb661d;
}
